<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>
    Username:
    <input type="text" formControlName="username">
  </label>
  <div *ngIf="loginForm.get('username')?.errors?.['required']">
    Username is required
  </div>

  <label>
    Password:
    <input type="password" formControlName="password">
  </label>
  <div *ngIf="loginForm.get('password')?.errors?.['required']">
    Password is required
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Log In</button>
</form>
