.scrollable-container {
  width: 98%;
  height: 400px; // You can set any desired height
  overflow-y: scroll; // Enable vertical scrolling
  padding: 1rem;
    background: antiquewhite;
    color: black;
  div {
    margin-bottom: 0.5rem; // Add some space below each number
  }
}
